* {
    font-family: open-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#FEFAED;
}
body {
    background-color:#120904;
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: 100vh;
    position: relative;
}
body.work {
    background-image: none;
}

.container {
    display: grid;
    height: 100vh;
    position: relative;
    grid-template-columns: 55fr 45fr;
    grid-template-rows: 10% 90%;
    grid-template-areas:    
            "head head"
            ".... cont"; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: clamp(1%, 20%, 780px);
    padding-right: clamp(1%, 20%, 780px);
    letter-spacing: 1px;
    grid-area: head;
}

/*name in header*/
.name-head {
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: none;
    font-size: 25px;
}

.nav ul li a{
    text-decoration: none;
    font-weight:600;
}

.nav ul li a:hover{
    color: #ECD0BC;
    transition: 0.3;
}

/*Button in header*/
.button {
    height: inherit;
    background: none;
    overflow: hidden;
    font-size: inherit;
    font-weight: bold;
    border:none;
}

.button:hover {
    color: #ECD0BC;
    transition: 0.3;
}

.button-icon {
    align-items: center;
    height: 25px;
}


/*This is for the content*/
.content-container{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    grid-area: cont;
    position: relative;
    background-color: rgba(37,17,8,0.10);
}

.content {
    padding: 10px;
    padding-top: 30%;
    padding-bottom:30%;
    position: center;
    height: 50%;
    width: 90%;
    font-size: 25px;
}

.content #name {
    font-family: playfair-display,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 100px;
}



/* From here is for work.html*/
.work .container {
    display: grid;
    height: 100vh;
    position: relative;
    grid-template-columns: 4fr 5fr 2fr;
    grid-template-areas:    
        "head head head" 
        ".... work ...."; 
}

.work-content {
    padding-top: 45%;
    grid-area: work;
}

#loadingellipsis {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    font-style: italic;
    text-align: justify;
}